span {
    background-color: lightblue;
    /* padding: 55px; */
    /* margin: 55px; */
    width: 100px;
    height: 50px;
  }
  
  .inline-block {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
  }
  